@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer base {
  .font-pretendard {
    font-family: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  }
}
* {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}
html {
  font-family: Pretendard, sans-serif;
  overflow-x: hidden;
}

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.slick-slide > div {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.slick-dots {
  display: none !important;
}

.slick-dots li button:before {
  color: #d1d5db !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: black !important;
  opacity: 1 !important;
}
.dots-hidden .slick-dots {
  display: none !important;
}

.dots-top .slick-dots {
  display: block !important;
  top: 20px;
  bottom: auto;
}
