@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@plugin "tailwindcss-animate";

@layer base {
  .font-pretendard {
    font-family: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  }
}
* {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}
html {
  font-family: Pretendard, sans-serif;
  overflow-x: hidden;
}

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.slick-slide > div {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.slick-dots {
  display: none !important;
}

.slick-dots li button:before {
  color: #d1d5db !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: black !important;
  opacity: 1 !important;
}
.dots-hidden .slick-dots {
  display: none !important;
}

.dots-top .slick-dots {
  display: block !important;
  top: 20px;
  bottom: auto;
}

@theme inline {
  --color-gradient-1: #acbcff;
  --color-gradient-2: #e3edf4;
  --color-gradient-3: #e2ddf6;
  --color-gradient-4: #e5d2ff;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
}

.bg-gradient-primary {
  background: linear-gradient(
    180deg,
    #acbcff 0%,
    #e3edf4 33%,
    #e2ddf6 66%,
    #e5d2ff 100%
  );
}

.border-gradient-primary {
  border: 1px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #7091f9 0%, #b0dff7 50%, #dc8cd8 100%) border-box;
}

.text-gradient-primary {
  background: linear-gradient(90deg, #7091f9 0%, #b0dff7 50%, #dc8cd8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
